.favorite {
  height: 100vh;
  overflow-y: auto;
}

.flex-display {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}

.add-to-cart{
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.data{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
}
