.main-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.form-border{
    border: 1px black solid;
    padding: 20px;
    border-radius: 10px;
}

.email-field{
    width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit-button{
    width: 300px;
    height: 50px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-size: 20px;
}