.login{
    height: 100vh;
  }

  .login-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    text-align:center;
    font-family: "Montserrat";
    font-size: "35px";
    font-weight: "bold",
  }

  .password-container{
    display: flex;
  }

  .showHideBtn{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    background: white;
  }

  .sign-in{
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-top: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-weight: 'Montserrat';
  }

  .email{
    width: 100%;
    height: 50px;
    padding: 20px;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Montserrat';
  }
  .email::placeholder{
    color: gray;
    font-weight: bold;
    font-family: 'Montserrat';
  }

  .pass{
    width: 100%;
    height: 50px;
    padding: 20px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Montserrat';
  }
  .pass::placeholder{
    color: gray;
    font-weight: bold;
    font-family: 'Montserrat';
  }


  input:focus{
    font-family: 'Montserrat';
    outline: none;
  }

  .container{
    margin-top: 8%;
    border-radius: 10px;
    padding: 20px;
    width: 30% !important;
    border: 1px solid black;
  }

  .parentDiv{
    margin-left: 20px !important;
    margin-right: 20px !important;
  }

  @media screen and (min-width:320px) {
    .parentDiv{
      border: 1px solid black !important;
      border-radius: 5px;
      padding: 10px;
      margin-top: 40px !important;
      margin-left: 20px !important;
      margin-right: 20px !important;
    }
  }

  @media screen and (min-width:344px) {
    .parentDiv{
      border: 1px solid black !important;
      border-radius: 5px;
      padding: 10px;
      margin-top: 100px !important;
      margin-left: 20px !important;
      margin-right: 20px !important;
    }
  }

  @media screen and (min-width:360px) {
    .parentDiv{
      border: 1px solid black !important;
      border-radius: 5px;
      padding: 10px;
      margin-top: 100px !important;
      margin-left: 20px !important;
      margin-right: 20px !important;
    }
  }

  @media screen and (min-width:375px) {
    .parentDiv{
      border: 1px solid black !important;
      border-radius: 5px;
      padding: 10px;
      margin-top: 50px !important;
      margin-left: 20px !important;
      margin-right: 20px !important;
    }
  }
  @media screen and (min-width:390px) {
    .parentDiv{
      border: 1px solid black !important;
      border-radius: 5px;
      padding: 10px;
      margin-top: 150px !important;
      margin-left: 20px !important;
      margin-right: 20px !important;
    }
  }
  @media screen and (min-width:412px) {
    .parentDiv{
      border: 1px solid black !important;
      border-radius: 5px;
      padding: 10px;
      margin-top: 180px !important;
      margin-left: 20px !important;
      margin-right: 20px !important;
    }
  }

  @media screen and (min-width:414px) {
    .parentDiv{
      border: 1px solid black !important;
      border-radius: 5px;
      padding: 10px;
      margin-top: 50px !important;
      margin-left: 20px !important;
      margin-right: 20px !important;
    }
  }
  @media screen and (min-width:430px) {
    .parentDiv{
      border: 1px solid black !important;
      border-radius: 5px;
      padding: 10px;
      margin-top: 200px !important;
      margin-left: 20px !important;
      margin-right: 20px !important;
    }
  }
  @media screen and (min-width:768px) {
    .parentDiv{
      border: 1px solid black !important;
      border-radius: 5px;
      padding: 10px;
      margin-top: 200px !important;
      margin-left: 100px !important;
      margin-right: 100px !important;
    }
  }
  @media screen and (min-width:820px) {
    .parentDiv{
      border: 1px solid black !important;
      border-radius: 5px;
      padding: 10px;
      margin-top: 300px !important;
      margin-left: 100px !important;
      margin-right: 100px !important;
    }
  }
  @media screen and (min-width:853px) {
    .parentDiv{
      border: 1px solid black !important;
      border-radius: 5px;
      padding: 10px;
      margin-top: 300px !important;
      margin-left: 200px !important;
      margin-right: 200px !important;
    }
  }
  @media screen and (min-width:912px) {
    .parentDiv{
      border: 1px solid black !important;
      border-radius: 5px;
      padding: 10px;
      margin-top: 350px !important;
      margin-left: 150px !important;
      margin-right: 150px !important;
    }
  }
  @media screen and (min-width:1024px) {
    .parentDiv{
      border: 1px solid black !important;
      border-radius: 5px;
      padding: 10px;
      margin-top: 100px !important;
      margin-left: 200px !important;
      margin-right: 200px !important;
    }
  }
  @media screen and (min-width:1280px) {
    .parentDiv{
      border: 1px solid black !important;
      border-radius: 5px;
      padding: 10px;
      margin-top: 100px !important;
      margin-left: 350px !important;
      margin-right: 350px !important;
    }
  }
  @media screen and (min-width:1440px) {
    .parentDiv{
      border: 1px solid black !important;
      border-radius: 5px;
      padding: 10px;
      margin-top: 100px !important;
      margin-left: 500px !important;
      margin-right: 500px !important;
    }
  }

  @media screen and (min-width:1025px) and (max-width:1500px) {
   .forgot-pass{
    margin-top: 10px;
    margin-left: 813px;
   }
  }

  .sign-up{
    margin-top: 20px;
    margin-left: 580px;
  }

