.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: 'Montserrat';
  margin: 0;
  height: 100vh;
}

.nav-container{
  margin-top: 50px;
  height: 100vh;
  overflow-y: auto;
}

.nav-para{
  padding: 30px 30px;
  text-align: justify;
  font-family: "Montserrat";
  font-weight:bold;
  font-size: 25px;
  color:#1b4965;
}


.head{
  width:  100%;
  height: 80px;
  display: flex;
  padding-left: 0px;
  padding-right: 20px;
  gap: 20px;
  flex-direction: row;
  align-items: center;
}


.tab{
  font-size: 20px;
  width: 100%;
 display: flex;
  text-decoration: none;
  color: #52595D;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.tab li {
  list-style: none;
  display: flex;
  font-family: 'Montserrat';
  font-weight: bold;
}

.tab li a{
  text-decoration: none;
  color: grey;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  display: inline-block;
}

.tab li a:hover{

  background-color: green;
  color: white;
}

.banner{
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    gap: 20px;
    padding: 20px;
}

/* .post{
  padding: 20px;
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */





.image-container{
  width: 300px;
  height: 300px;
}
.login-register{
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 15px;
  font-weight: bolder;
  font-family: 'Montserrat';
}

.search-holder{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box{
  width: 70%;
  display: inline-flex;
  height: 50px;
  border-radius: 10px;
  color: #E2DCDE;
  font-size: 15px;
  border: 2px solid gainsboro;
  padding: 20px;
}
.searchBtn{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: none;
   border: 2px solid gainsboro;
}

.container{
  margin-top: 15%;
  border-radius: 10px;
  padding: 20px;
  width: 30% !important;
}







.container-fluid{
  max-height: 100vh; /* Set a maximum height for the container */
  overflow-y: auto; 
}

.book-image {
  width: 100%; /* Set width to 100% to fill its container */
  height: auto; /* Automatically adjust height while maintaining aspect ratio */
  max-width: 300px; /* Limit maximum width for larger screens */
}

@media (min-width: 300px) {
  .book-image {
    max-width: none; /* Remove the max-width limit for larger screens */
  }
}

.poster-img{
  width: 20%;
}

.slogan{
  width: 50%;
  font-size: 30px;
}





.sidebar{
  position: 'fixed';
  top: '6.7%';
  left: 0;
  width: '-250px'; 
  height: '100vh';
  transition: 'left 0.3s ease-in-out';
  background-color:'transparent';
  gap:'100px';
}

.sidebar.visible{
  left: 0;
}

.menu{
  color: blue;
}

.MuiDrawer-paper {
  width: 250px;
}

.MuiListItem-root {
  color: #333; /* Adjust text color as needed */
}

.MuiListItemIcon-root {
  min-width: 40px;
}





